
<div>
    <h2>Compromisso</h2>
</div>
<div hidden="hidden">
    <label for="id">ID</label>
    <input type="text" data-ng-model="Compromisso.ID" />
</div>
<div>
    <label for="name">Titulo</label>
    <input type="text" data-ng-model="Compromisso.Titulo" />
</div>

<div>
    <label for="datainicio">Data Inicio</label>

    <input type="date" data-ng-model="Compromisso.DataInicio" />
</div>

<div>
    <label for="datafinal">Data Final</label>
    <input type="date" data-ng-model="Compromisso.DataFinal" />
</div>
<div>
    <label for="horarioinicio">Horário Inicio</label>
    <input type="time" id="exampleInput" name="input" str-to-time="" data-ng-model="Compromisso.HorarioInicio"
           required />

</div>
<div>
    <label for="horariofinal">Horário Final</label>

    <input type="time" id="exampleInput" name="input" str-to-time="" data-ng-model="Compromisso.HorarioFinal"
           required />
</div>
<div>
    <label for="detalhes">Detalhes</label>
    <input type="text" data-ng-model="Compromisso.Detalhes" />
</div>
<br />
