<div>
    <h1>Adicionar</h1>
    @Html.Partial("_formulario")
    <div>
        <button data-ng-click="save()">Salvar</button>
        <button data-ng-click="cancel()">Cancelar</button>
    </div>
</div>
